#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

menuconfig LIB_REFOS
    bool "RefOS System Library"
    depends on LIB_SEL4 && HAVE_LIBC && LIB_DATA_STRUCT
    default y
    help
        RefOS System Library, containing a vide variety of things from RPC communications headers
        to utility libraries. You'll most definitely want this enabled.
