#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config LIB_DATA_STRUCT
    bool "Build C Data Structures"
    depends on LIB_SEL4 && HAVE_LIBC
    default y
    help
        Helper library containing various data structures
        that are useful but aren't included in C stdlib.
        These include vectors, hash tables, free list
        allocation, bitfield allocation, and so forth.
