#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

config LIB_DATA_STRUCT
    bool "Build C Data Structures"
    depends on LIB_SEL4 && HAVE_LIBC
    default y
    help
        Helper library containing various data structures
        that are useful but aren't included in C stdlib.
        These include vectors, hash tables, free list
        allocation, bitfield allocation, and so forth.
