# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause

# This file defines the Kconfig menu structure.

mainmenu "Project Configuration"

menu "seL4 Kernel"
source "kernel/Kconfig"
endmenu

config COMMON_PATH
    string
    option env="COMMON_PATH"

source libs/Kconfig
source apps/Kconfig
source tools/elfloader/Kconfig
source "$COMMON_PATH/Kconfig"
