#
# Copyright 2016, Data61
# Commonwealth Scientific and Industrial Research Organisation (CSIRO)
# ABN 41 687 119 230.
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(D61_BSD)
#

config APP_SNAKE
    bool "Snake"
    default y
    depends on LIB_SEL4 && HAVE_LIBC && LIB_REFOS
    help
        Snake game for RefOS. Drawing done using ANSI.
        The Snake game is a demo for RefOS, showcasing UNIX-like dataspace
        printf, input functionality, and timer sleep functionality.
