#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config LIB_VTERM
    bool "Virtual terminal library"
    depends on HAVE_LIBC
    default y
    help
        Port of libvterm by Paul "LeoNerd" Evans, a C99 virtual terminal emulator library released
        under the MIT license. As the library uses abstract C99 with no dependance on any POSIX or
        any rendering / UI system, no changes to the library code was required; only the build
        system has been adapted.
