#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config APP_SELF_LOADER
    bool "RefOS Self Loader"
    default y
    depends on LIB_SEL4 && HAVE_LIBC && LIB_REFOS_SYS
    select HAVE_SEL4_APPS
    select APP_PROCESS_SERVER
    help
        Self loader code for loading processes. Starts in the staring process' own vspace,
        and loads the process's ELF segments from within. Needed to start RefOS userland processes.
