#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config APP_FILE_SERVER
    bool "RefOS File Server"
    default y
    depends on LIB_SEL4 && HAVE_LIBC && LIB_CPIO && LIB_ELF && LIB_REFOS_SYS
    select HAVE_SEL4_APPS
    select APP_PROCESS_SERVER
    help
        Simple file server for RefOS, which relies on DITE to pre-store files.
