#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config APP_TERMINAL
    bool "RefOS Terminal"
    default y
    depends on LIB_SEL4 && HAVE_LIBC && LIB_REFOS
    select HAVE_SEL4_APPS
    select APP_BOOTSTRAP
    select APP_FILE_SERVER
    select APP_PROCESS_SERVER
    help
        Simple terminal program for RefOS.
