#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config APP_NETHACK
    bool "Nethack 3.4.3"
    default n
    depends on LIB_SEL4 && HAVE_LIBC && LIB_REFOS
    help
        Nethack on RefOS. This is a port of the classic roguelike game
        Nethack. Not all functionality may be available.