#
# Copyright 2016, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

config APP_TEST_USER
    bool "RefOS User Level Unit Tests"
    default y
    depends on LIB_SEL4 && HAVE_LIBC && LIB_REFOS_SYS
    select HAVE_SEL4_APPS
    help
        Tests that test the bootstrapped RefOS userland environment is sane and usable.
        Tests include dynamic malloc() using both heap expansion and mmap, threads,
        IPC os_server printing, and so forth.
